:root {
    --clr-neon: hsl(173, 100%, 50%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  
  body {
    display: grid;
    place-items: center;
    position: relative;
    top: 40vh;
    background: var(--clr-bg);
    font-family: 'Anton', sans-serif;
    color: var(--clr-neon);
    font-family: 'Anton', sans-serif;
  }

  @media screen and (max-width: 600px) {
    body {
      display: grid;
      place-items: center;
      position: relative;
      top: 40vh;
      background: var(--clr-bg);
      font-family: 'Anton', sans-serif;
      color: var(--clr-neon);
      font-family: 'Anton', sans-serif;
    }

    form {
      width: 300px;
    }
  }
    